<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Sign in | nest-oidc-provider (example)</title>
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h4>nest-oidc-provider</h4>
              <p>(example)</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card mx-auto" style="width: 300px;">
                <div class="card-body">
                  <div class="mb-2 pb-2 border-bottom">
                    <h5 class="card-title mb-0">Sign in</h5>
                    <small>to continue to <strong><%= new URL(params.redirect_uri).host %></strong></small>
                  </div>

                  <p><strong><%= client.clientName %></strong> want to access your account.</p:>
                  
                  <form action="/interaction/<%= uid %>/confirm" method="POST" autocomplete="off">
                    <%
                    const missingScopes = new Set(details.missingOIDCScope);
                    const msgMap = new Map([
                      ['openid', 'Your account identifier'],
                      ['offline_access', 'Keep connected to your account'],
                      ['profile', 'Your profile information (name, email, phone, ...)'],
                      ['email', 'Your email address'],
                      ['phone', 'Your phone number'],
                      ['address', 'Your address information']
                    ]);

                    if (missingScopes.size > 0) {
                    %>
                      <p><strong>Requested access:</strong></p>

                      <ul>
                        <% for (const scope of missingScopes) { %>
                          <li><%= msgMap.has(scope) ? msgMap.get(scope) : scope %></li>
                        <% } %>
                      </ul>

                    <% } %>
    
                    <div class="text-end mt-4">
                      <a href="/interaction/<%= uid %>/abort" class="btn btn-light">Cancel</a>
                      <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>